body{
    background-color: black; 
    color: white;
}

b{
    margin: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: green;
}

#atten{
    display: flex;
    justify-content: center;
}

#table{
    color: white;
}

#resetBtn{
    margin-left: 20px;
}
#className{
    width: 640px;
    height: 40px;
    font-size: 25px;
}